.navDropdownRecommendation {
    padding-bottom: 2em;

    p {
        font-size: 0.688rem;
        font-weight: 600;
        line-height: 28px;
        text-transform: uppercase;
        color: #abababa6;
        margin: .7em 0 0 2em;
    }

    .containerMenuRecommendation {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-left: 1em;

        .containerMenuRecommendationTopSellers {
            display: flex;
            flex-direction: column;
            gap: 9px;

            .btnTopSellersRecommendations {
                width: 21.027em;
                background: linear-gradient(90deg, rgba(14, 20, 27, 0.2) 0%, rgba(163, 186, 211, 0.2) 100%);
                height: 3.5em;
                display: flex;
                cursor: pointer;

                &:hover {
                    background: linear-gradient(90deg, rgba(14, 20, 27, 0.6) 0%, rgba(163, 186, 211, 0.6) 100%);
                }

                .btnTopSellersRecommendationsImage {
                    img {
                        width: 9.25em;
                        height: 3.5em;
                    }
                }

                .btnTopSellersRecommendationsDescription {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 10px;

                    .RecommendationsTittleGame {
                        font-size: 0.813rem;
                        font-weight: 500;
                        line-height: 20px;
                        color: #fff;
                    }

                    .RecommendationsPriceGame {
                        font-size: 0.688rem;
                        font-weight: 500;
                        line-height: 16px;
                        color: #def3ff;
                    }
                }
            }
        }

        .ContainerMyQueue {
            background-image: url("https://store.akamai.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg");
            background-size: cover;
            height: 11.75em;
            width: 22.028em;

            .btnContainerMyQueue {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 9px;
                height: 100%;
                padding: 1em;

                &:hover .arrowQueue {
                    transform: translateX(5px);
                    transition: transform .2s ease-in-out;
                }

                .myQueueTitle {
                    font-size: 0.938rem;
                    font-weight: 700;
                    color: #fff;
                }

                .myQueuetext {
                    font-size: 0.75rem;
                    font-weight: 400;
                    color: #B8BCBF;
                }

                .myQueuetextbtn {
                    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
                    border: 0;
                    border-radius: 2px;
                    width: max-content;
                    padding: 8px 20px;
                    display: flex;
                    align-items: center;
                    gap: 9px;

                    span {
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: #F3F3F3;
                    }
                }
            }
        }

        .containerRecommendationSubMenu {
            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;

                li {
                    font-size: 0.813rem;
                    font-weight: 400;
                    color: #DCDEDF;
                    padding: 0;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}