.navDropdownWaysToPlay {
    display: flex;
    margin: 2em 1em;
    position: relative;

    .dropdownWaysToPlayText {
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 28px;
        color: #abababa6;
        position: absolute;
        top: -2.5em;
    }

    .containerListWaysToPlay {
        .containerBtnWaysToPlay {
            display: grid;
            grid-template-columns: repeat(3, 14.473em);
            gap: 4px;

            width: 43.919em;
            height: 11.125em;

            .btnWayToPlay {
                box-shadow: 2px 2px 2px rgba(43, 43, 43, .1);
                background-color: #1A9FFF;
                border-radius: 2px;
                padding: 9px 15px;
                display: flex;
                align-items: center;
                justify-content: center; 
                gap: 10px;
                cursor: pointer;

                &:hover {

                    .btnWarToPlayImage,
                    .btnWayToPlayText {
                        transform: translateY(10px);
                        color: #fff;
                    }
                }

                .btnWarToPlayImage {
                    display: block;
                    width: 2.875em;
                    height: 2.875em;
                    transition: transform .2s ease;

                    img {
                        width: 100%;
                        height: auto;
                        fill: white;
                    }
                }

                .btnWayToPlayText {
                    font-size: 0.875rem;
                    font-weight: 800;
                    list-style: 16px;
                    color: #191d25;
                    text-transform: uppercase;
                    transition: transform .2s ease, color .2s ease;
                }
            }

            .btnWayToPlay_4 {
                width: 21.834em;
            }

            .btnWayToPlay_5 {
                width: 21.8em;
                margin-left: 7.42em;
            }
        }
    }

    .containerWaysToPlaySubMenu {
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            margin-left: 1em;

            li {
                    font-size: 0.813rem;
                    font-weight: 400;
                    color: #DCDEDF;
                    padding: 0;

                    &:hover {
                        color: #fff;
                    }
                }
        }
    }
}